.DS_Store
database.db
tmp
node_modules
.pnpm-store
app.ini
app.*.ini
dist
*.exe
*.po~
nginx-ui
resources/development/nginx
app/.env
app/.status_hash
.idea/deployment.xml
.idea/webServers.xml
internal/**/*.gen.go
.devcontainer/go-path
.devcontainer/data
.devcontainer/casdoor.pem
.vscode/.i18n-gettext.secret
