version: '3'
services:
  nginx-demo-1:
    image: uozi/nginx-ui-demo:latest
    restart: always
    networks:
      - nginx-ui-network
    entrypoint:
      - NGINX_UI_NODE_DEMO=true
    ports:
      - "9003:80"

  nginx-demo-2:
    image: uozi/nginx-ui-demo:latest
    restart: always
    entrypoint:
      - NGINX_UI_NODE_DEMO=true
    networks:
      - nginx-ui-network
networks:
  nginx-ui-network:
